body{
    margin: 0;
    padding: 0;
}
#header{
    display: flex;
    justify-content: space-between;
    background-color: #5c5757;
    margin-bottom: 2rem;
    flex-flow: row wrap;
}
#header .logo{
    display: flex;
}
#header .logo > img{
    height: 10vh;
    border-radius: 50%;
    align-self: center;
    margin-left: .5rem;
}
/* #header .logo{
    display: flex;
    font-family: cursive;
    font-size: 1.5rem;
    text-transform: capitalize;
    line-height: 5rem;
    padding: 0 1rem;
    color: #cce490;
    cursor: pointer;
} */
#header .nav{
    align-self: center;
}
#header .nav > ul{
    display: flex;
    list-style-type: none;
}

#header .nav > ul > li{
    padding: 1rem;
    font-family: sans-serif;
    
}
#header .nav > ul > li:hover{
    background-color: #363434;
    color: #f2f4b2;
    transition: .7s;
}
#header .nav ul > li > a{
    text-decoration: none;
    color: #ffffff;
    letter-spacing: .8px;
}

#content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
}
#content .box{
    background-color: #e6e6e3de;
    margin-bottom: 1rem;
    flex-basis: 10rem;
    /* align-content: center; */
    text-align: center;
    border: 1px solid #ced1d4;
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.4);
    
}
#content .box > img{
    height: 20rem;
}
#content .box .verified-name{
    padding: 10px;
    padding-bottom: 1.5rem;
}
#content .box .verified-name > h2{
    /* display: flex; */
    margin: 0;
    font-family: sans-serif;
    font-size: 1.6rem;
    color: #616971;
    /* text-align: center; */
}
#content .box .verified-name > p{
    color: #616971;
    font-family: sans-serif;
    font-size: 1.05rem;
    line-height: 1.3rem;
    justify-content: center;
    letter-spacing: 1px;

}
#content .box .verified-name > button{
    font-size: 1.2rem;
    border-radius: 4px;
    height: 3rem;
    width: 8.1rem;
    color: #ffffff;
    background-color: #5c5757;
    border: 1px solid #5c5757;
    font-family: sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}
#content .box .verified-name > button:hover{
    background-color: #363434;
    border: #363434;
    transition: .9s;

}

#footer{
    display: flex;
    background-color: #5c5757;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}
#footer .footer-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 1rem;
}
#footer .footer-wrapper .footer-para{
    display: flex;
    color: #ffffff;
}
#footer .footer-wrapper .footer-para > p{
    font-family: sans-serif;
    letter-spacing: 1px;
}
#footer .footer-wrapper .footer-icons{
    display: flex;
}
#footer .footer-wrapper .footer-icons > img{
    display: flex;
    padding: 9px;
    border-radius: 2rem;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

      /* MEDIA QUERIES */
/* @media all and (max-width: 1366px){
#header{
    flex-wrap: wrap;
}
#header .logo > img{
    height: 10vh;
}
#content .box{
    flex-wrap: wrap;
    margin:1rem 2rem;
    justify-content: space-evenly;
}
#footer .footer-wrapper{
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
} */
@media all and (max-width: 1024px){
#header{
    flex-wrap: wrap;
    /* justify-content: center; */
}
#header .logo > img{
    /* height: 6vh; */
}
#content .box{
    flex-wrap: wrap;
    margin:1rem 2rem;
    justify-content: space-evenly;
}
#footer .footer-wrapper{
    flex-wrap: wrap;
    justify-content: space-between;
    /* justify-content: center; */
}
}

@media all and (max-width: 800px){
    #header{
        flex-wrap: wrap;
        justify-content: center;
    }
    #header .logo > img{
        /* height: 11vh; */
        border-radius: 50%;
        align-self: center;
    }
    #content{
        flex-wrap: wrap;
    }
    #footer .footer-wrapper{
        flex-wrap: wrap;
        justify-content: space-between;
        justify-content: center;
    }
}

@media all and (max-width: 700px){
    #header{
        flex-wrap: wrap;
        justify-content: center;
    }
    #header .logo > img{
        /* height: 10vh; */
        border-radius: 50%;
        align-self: center;
    }
    #content{
        flex-wrap: wrap;
    }
    #footer .footer-wrapper{
        flex-wrap: wrap;
        justify-content: space-between;
        justify-content: center;
    }
}

@media all and (max-width: 500px){
    #header{
        flex-direction: column;
        align-items: center;
    }
    #header .logo > img{
        /* height: 8vh; */
    }
    .nav > ul{
        align-items: center;
        flex-direction: column;
        padding: 0;
    }
    #content{
        flex-direction: column;
        align-items: center;
    }
    #footer .footer-wrapper{
        flex-direction: column;
        align-items: center;
    }

}